
$primary: #6427ea;


$enable-dark-mode: true;
$enable-shadows: true;

.modal {
    @extend [data-bs-theme="light"];
    color: #212529;
}

.popover {
    @extend [data-bs-theme="light"];
    color: #212529;
}



//import bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";